<!-- navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-gradient-dark">
  <div class="container">
    <a class="navbar-brand h1 mb-0" href="#">GRAL Imóveis</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSite"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSite">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/anuncios">Home</a>
        </li>
      
      </ul>     
     
    </div>
  </div>
</nav>
<!-- navbar - end  -->
<div class="container" style="margin-top: 80px;">
  <div class="row justify-content-center mb-5">
    <div class="col-sm-12 col-md-10 col-lg-8">
        <h3 class="display-6 text-muted" style="width: 500px;">Formulário de Contato</h3>
          <hr />
           <form >
             <div class="form-row">
               <div class="form-group col-sm-6">                    
                 <label for="inputCategoria">Nome</label>
                 <input type="text" class="form-control" id="inputCategoria" placeholder="Categoria">               
               </div>

               <div class="form-group col-sm-6">
                   <label for="inputSobrenome">Sobrenome</label>
                   <input type="text" class="form-control" id="inputSobrenome" placeholder="Sobrenome">
               </div>
             </div>

             <div class="form-row">
                 <div class="form-group col-sm-12">
                   <label for="inputEnd">Endereço</label>
                   <input type="text" class="form-control" id="inputEnd" placeholder="Endereço">
                 </div>
             </div>
              
             <div class="form-row">
                 <div class="form-group col-sm-6">
                   <label for="inputCidade">Cidade</label>
                   <input type="text" class="form-control" id="inputCidade" placeholder="Cidade">
                 </div>
                 
                 <div class="form-group col-sm-4">
                   <label for="inputEstado">Estado</label>
                   <select id="inputEstado" class="form-control">
                     <option selected>Selecione...</option>
                     <option>.....</option>
                     <option>.....</option>
                     <option>.....</option>
                   </select>
                 </div>
                 
                 <div class="form-group col-sm-2">
                   <label for="inputCep">Cep</label>
                   <input type="text" id="inputCep" class="form-control">
                 </div>    
                 
             </div>

             <div class="form-row">

               <div class="form-group col-sem-12">

                 <div class="form-check">

                   <label for="form-check-label">
                     <input class="form-check-input" type="checkbox"> Desejo receber novidades por e-mail.
                   </label>

                 </div>

               </div>

             </div>

             <div class="form-row">
               <div class="col-sm-12">
                 <button type="submit" class="btn btn-primary">Enviar</button>

                 <a tabindex="0" class="btn btn-secondary ml-2" role="button" data-toggle="popover" data-placement="right"
                 data-trigger="focus" title="Título da ajuda" data-content="aurhgfaklkerhgajvhahvlahvlfbvlabvzdhjbvlkbnv">Ajuda</a>

               </div>
             </div>

           </form>

       </div>
    </div>
   </div>
   
   <script>
     $(function () {
       $('[data-toggle="popover"]').popover()
     })
   </script>
