<!-- navbar -->
<nav class="navbar fixed-top navbar-expand-lg bg-gradient-primary">
  <div class="container">
    <a class="navbar-brand h1 mb-0" href="/anuncios">GRAL Imóveis</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSite"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSite">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          <a class="nav-link" href="/login">Anunciar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cadastro">Cadastre-se</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/contato">Contato</a>
        </li> -->
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-toggle="dropdown"
            id="navdrop"
          >
            Social
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="https://www.facebook.com">Facebook</a>
            <a class="dropdown-item" href="https://www.twitter.com">Twitter</a>
            <a class="dropdown-item" href="https://www.instagram.com">Instagram</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- navbar - end  -->

<!-- carousel init  -->
<div id="carouselSite" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselSite" data-slide-to="0" class="active"></li>
    <li data-target="#carouselSite" data-slide-to="1"></li>
    <li data-target="#carouselSite" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/img/slide_01.jpg" class="img-fluid" d-block alt="slide01"/>
      <div class="carousel-caption d-none d-md-block">
        <h3>O imóvel que você procura, está aqui!</h3>
        <p>
          Lorem ipsum eget metus nisl ut cras ut morbi mattis morbi, etiam
          aenean fusce tortor urna
        </p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="../assets/img/slide_02.jpg"  class="img-fluid" d-block alt="slide02"/>
      <div class="carousel-caption d-none d-md-block">
        <h3>O imóvel que você procura, está aqui!</h3>
        <p>
          Lorem ipsum eget metus nisl ut cras ut morbi mattis morbi, etiam
          aenean fusce tortor urna
        </p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="../assets/img/slide_03.jpg" class="img-fluid" d-block alt="slide03"/>
      <div class="carousel-caption d-none d-md-block">
        <h3>O imóvel que você procura, está aqui!</h3>
        <p>
          Lorem ipsum eget metus nisl ut cras ut morbi mattis morbi, etiam
          aenean fusce tortor urna
        </p>
      </div>
    </div>
  </div>
  
  <a class="carousel-control-prev" href="#carouselSite" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <span class="sr-only">Anterior</span>
  </a>

  <a class="carousel-control-next" href="#carouselSite" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
    <span class="sr-only">Avançar</span>
  </a>
</div>
<!-- carousel - end -->

<body style="margin-top: 15px">
  <!-- barra de pesquisa - init-->
  <div class="container pesquisa">
    <form
      class="d-flex text-muted"
      style="margin-top: 20px; margin-bottom: 15px; text-align: center"
    >
      <input
        class="form-control"
        type="text"
        placeholder="Procurar..."
        aria-label="Search"
      />
      <button
        class="btn btn-info"
        style="margin-left: 5px"
        type="button"
      >
        Buscar
      </button>
    </form>
  </div>
  <!-- barra de pesquisa - end -->

  <!-- cards do anúncio - start -->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4" *ngFor="let item of anuncios">
        <div class="card border-white" style="width: 370px;">
          <a routerLink="/detalhes/{{ item.id }}" class="link-img">
            <img class="img-responsive" width="370" height="300" id="card-imagem"
            src="{{ item.imagem[0].imagem }}" 
            alt="Ops! ocorreu um erro ao exibir esta imagem"/>
          </a>         
          <div class="card-body" >
            <h5 class="card-title">{{ item.tipoImovel.nome | titlecase }}</h5>
            <p class="card-text">
              {{ item.endereco.bairro | titlecase }},
              {{ item.endereco.localidade | titlecase }} - 
              {{ item.endereco.uf | uppercase }} 
            </p>
            <h5 class="card-text">
              {{ item.dadosComplementares.valor | currency: "BRL" }}
            </h5>
            <p class="card-text text-muted">
              {{ item.dadosComplementares.metrosQuadrados }}
              <small>m²</small>
              {{ item.dadosComplementares.qtdQuartos }}
              <small>Quartos</small>
              {{ item.dadosComplementares.qtdSuites }}
              <small>Suites</small>
              {{ item.dadosComplementares.qtdVagas }}
              <small>Vagas</small><br>
              <small>Visualizações:  {{ item.qtdDeVisualizacoes }}</small>                   
            <div class="text-bold">
              <a routerLink="/detalhes/{{item.id}}">Ver Detalhes</a>
            </div>            
        </div>
      </div>
    </div>
  </div>
<!-- card do anúncio - end -->

<!-- jumbotron para separação apenas -->
<hr>
<div class="jumbotron bg-gradient-primary" style="text-align: center;">
  <h3>GRALL Anúncio de Imóveis</h3>
  <p class="lead">
    <!-- Não encontrou o que procurava ? <a href="/login" style="color: white; text-decoration: underline;">Entre em contato conosco</a>  -->
  </p>
</div>

<div class="container">
  <!-- rodapé init -->
  <div class="row">
    <div class="col-12 mb-3"><hr/></div>

    <div class="col-sm-4">
      <h3>Gral Imóveis</h3>
      <p style="text-align: justify;">
        Lorem ipsum consequat eget cursus posuere sollicitudin lectus nam,
        curabitur consectetur cubilia leo ante eget luctus duis, feugiat enim
        orci adipiscing non augue
      </p>
      <p style="text-align: justify;">
        Lorem ipsum consequat eget cursus posuere sollicitudin lectus nam,
        curabitur consectetur cubilia leo ante eget luctus duis, feugiat enim
        orci adipiscing non augue
      </p>
    </div>

    <div class="col-sm-4">
      <h3>Menu</h3>
      <div class="list-group text-center">
        <a href="/anuncios" class="list-group-item list-group-item-action list-group-item-primary">Home</a>
        <a href="/login" class="list-group-item list-group-item-action list-group-item-primary">Anunciar</a>
        <a href="/cadastro" class="list-group-item list-group-item-action list-group-item-primary">Cadastre-se</a>
        <!-- <a href="contato" class="list-group-item list-group-item-action list-group-item-primary">Contato</a> -->
        <!-- <a href="/anuncios" class="list-group-item list-group-item-action list-group-item-primary">Anúncios</a> -->
      </div>
    </div>  

    <div class="col-sm-4">
  
    <h3>Social</h3>

    <div class="btn-group-vertical btn-block btn-group-lg" role="group">
      <a class="btn btn-outline-primary" href="https://www.facebook.com"><i class="fab fa-facebook-square"></i>Facebook</a>
      <a class="btn btn-outline-info" href="https://www.twitter.com"><i class="fab fa-twitter-square"></i>Twiter</a>
      <a class="btn btn-outline-warning" href="https://www.instagram.com"><i class="fab fa-instagram-square"></i>Instagram</a>
    </div>

   </div>

    <div class="col-12 mt-5"><hr>
    <blockquote class="blockquote text-center">
      <p class="mb-0">O Sucesso não é garantido, mas o fracasso é certo se você não estiver emocionalmente envolvido em seu trabalho.</p>
      <footer class="blockquote-footer">Biz Stone <cite title="Source Title">Fundador do Twitter</cite></footer>
      </blockquote>    
  </div>

  <!-- rodapé end -->
  </div>
</div>
