<!-- navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-gradient-dark">
  <div class="container">
    <a class="navbar-brand h1 mb-0" href="#">GRAL Imóveis</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSite"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSite">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/anuncios">Home</a>
        </li>
      
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-toggle="dropdown"
            id="navdrop"
          >
            Ordenar por:
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="">Ativo</a>
            <a class="dropdown-item" href="">Inativo</a>
           
          </div>
        </li>
      </ul>
     
    </div>
  </div>
</nav>
<!-- navbar - end  -->

<body style="margin-top: 70px">
      <div class="container">
      <h3 class="display-6 text-muted">Deletar Tipo de Empreendimento</h3>
      <hr />
      <form action="">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input
            [(ngModel)]="tipoEmpreendimento.nome"
            class="form-control"
            [formControl]="nome"
            type="text"
            id="nome"
            placeholder="Digite o nome do novo tipo"
            readonly = true;
          />
        </div>
        <button
          (click)="deleteTipoEmpreendimento()"
          type="button"
          class="btn btn-danger"
        >
          Deletar
        </button>
  
        <button
          type="button"
          style="margin-left: 5px"
          (click)="cancel()"
          class="btn btn-outline-danger"
        >
          Cancelar
        </button>
      </form>
    </div>
  </body>
  
