<!-- navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-gradient-dark">
  <div class="container">
    <a class="navbar-brand h1 mb-0" href="#">GRAL Imóveis</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSite"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSite">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/anuncios">Home</a>
        </li>
      
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-toggle="dropdown"
            id="navdrop"
          >
            Ordenar por:
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="">Ativo</a>
            <a class="dropdown-item" href="">Inativo</a>
           
          </div>
        </li>
      </ul>
     
    </div>
  </div>
</nav>
<!-- navbar - end  -->

<body style="margin-top: 70px">
 
  <div class="container">
    <h3 class="display-6 text-muted">Alterar Característica</h3>
    <hr />
    <form action="">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input
          [(ngModel)]="caracteristica.nome" class="form-control" [formControl]="nome" type="text" id="nome" placeholder="Digite o nome da nova característica"
        />
      </div>
      <div class="form-group">
        <label for="grupo">Grupo</label>
        <select name="grupoCaracteristica" [(ngModel)]="caracteristica.grupoCaracteristica.id" class="form-control">
          <option *ngFor="let item of listaGrupoCaracteristica" [ngValue]="item.id">{{ item.nome | titlecase }}</option>
        </select>
        <button type="button" class="btn btn-success mt-2" (click)="updateCaracteristica()">Salvar Alteração</button>

        <button type="button" class="btn btn-outline-danger mt-2 ml-2" (click)="cancel()">Cancelar</button>        
      </div>

    </form>
  </div>
</body>
