<!-- navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-gradient-dark">
  <div class="container">
    <a class="navbar-brand h1 mb-0" href="/home">GRAL Imóveis</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSite"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSite">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/anuncios">Home</a>
        </li>
      
      </ul>
     
     
    </div>
  </div>
</nav>
<!-- navbar - end  -->
<!-- barra de pesquisa - init-->
<div class="container pesquisa" style="margin-top: 80px;">
  <form
    class="d-flex"
    style="margin-top: 20px; margin-bottom: 15px; text-align: center"
  >
    <input
      class="form-control"
      type="text"
      placeholder="Procurar..."
      aria-label="Search"
    />
    <button class="btn btn-outline-primary" style="margin-left: 5px" type="button">
      Buscar
    </button>
  </form>
</div>
<!-- barra de pesquisa - end -->
     
     
<body>
  <div class="container">
    <h3 class="display-6 text-muted">Cadastro de Usuário</h3>
    <hr>
    <form action="">

      <div class="form-group">              
        <label for="date-input">Data</label>
        <input class="form-control" type="date" id="date" placeholder="Data de Cadastro">
      </div>
      <div class="form-group">
        <label for="nome">Nome</label>
        <input class="form-control" type="text" id="nome" placeholder="Informe o nome completo">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" id="email" placeholder="Informe seu e-mail (Não será compartilhado)">        
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input class="form-control" type="password" id="password" placeholder="Informe uma senha com 6 dígitos">        
      </div>
      <div class="form-group">
        <label for="telefone">Telefone</label>
        <input class="form-control" type="text" id="telefone" placeholder="Informe seu telefone">
      </div>
      <div class="form-group">
        <label for="perfil">Perfil</label>
        <select class="form-control" id="perfil">
          <option value="">Selecione seu perfil</option>
          <option value="">Administrador</option>
          <option value="">Vendedor</option>
        </select>
      </div>
      <div class="form-group">
         <label for="status">Status</label>
        <select class="form-control" id="status">
          <option value="">Selecione o status</option>
          <option value="">Ativo</option>
          <option value="">Inativo</option>
        </select>
        <div class="form-group">
          <!-- <label for="mensagem">Digite uma mensagem</label>
          <textarea class="form-control" id="mensagem" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="file">Escolher uma foto</label>
          <input class="form-control btn btn-warning" type="file" id="file">
          <small class="form-text text-muted">Tamanho máximo ?</small> -->
          <br>
          <button type="submit" (click)="listarUsuarios()" class="btn btn-success">Salvar</button>
          <button
          type="button"
          style="margin-left: 5px"
          (click)="listarUsuarios()"
          class="btn btn-outline-danger"
          >
          Cancelar
        </button>
        </div>
      </div>
    </form>

  </div>
</body>


