<!-- navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-gradient-dark">
  <div class="container">
    <a class="navbar-brand h1 mb-0">GRAL Imóveis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite"><span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSite">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item text-muted">
          <a class="nav-link" href="/home">Voltar ao Dashboard</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link" href="/anuncios">Sair</a>
        </li>        
      </ul>
    </div>
              
  </div>
</nav>
<!-- navbar - end  -->

<body style="margin-top: 70px">
  <!-- barra de pesquisa - init-->
  <div class="container pesquisa">
    <form
      class="d-flex"
      style="margin-top: 20px; margin-bottom: 15px; text-align: center"
    >
      <input [(ngModel)]="nome" class="form-control" [formControl]="nomeForm" id="nome" type="text" placeholder="Procurar..." aria-label="Search"/>
      <!-- botão buscar um grupo de categoria específico pelo nome -->
      <button (click)="findByName()" class="btn btn-outline-primary" style="margin-left: 5px" type="button">Buscar</button>
      <button type="button" style="margin-left: 5px;"  (click)="createGrupoCaracteristica()" class="btn btn-primary">Novo</button>
      <button type="button" style="margin-left: 5px;"  (click)="getAllGrupoCaracteristica()" class="btn btn-info">Limpar</button>
    </form>
  </div>
  <!-- barra de pesquisa - end -->
<body>
  <!-- Início Layout da tabela de registro vindo do banco -->
  <div class="container">
    <h3 class="display-6 text-muted">Lista de Grupo de Características</h3>
    <span id="conteudo"></span>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th style="width: 100px">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaGrupoCaracteristica">
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.nome | titlecase }}</td>
          <a routerLink="/update/{{ item.id }}">
            <i class="bi bi-pencil editar" style="margin-left: 15px"></i>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pencil"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"
              />
            </svg>
          </a>
          <a routerLink="/delete/{{ item.id }}">
            <i class="bi bi-trash excluir" style="margin-left: 30px"></i>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
              />
              <path
                fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
              />
            </svg>
          </a>
        </tr>
        <tr></tr>
      </tbody>
    </table>
    <!-- End of table -->
   
  </div>
</body>
