<!-- navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-gradient-dark">
  <div class="container">
    <a class="navbar-brand h1 mb-0" href="/home">GRAL Imóveis</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSite"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSite">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/anuncios">Home</a>
        </li>
      
      </ul>
     
     
    </div>
  </div>
</nav>
<!-- navbar - end  -->
 
<!-- Formulário de cadastro -->
<body>
  <div class="container" style="margin-top: 80px;">
    <h3 class="display-6 text-muted">Cadastro de Grupo de Características</h3><hr/>
    <form action="">
      <div class="form-group">
        <label for="nome">Nome</label>
          <input [(ngModel)]="grupo.nome" class="form-control" [formControl]="banana" type="text" id="nome"
          placeholder="Digite o nome do novo grupo"/>
      </div>
      <!-- botão salvar novo grupo de caracteristica -->
      <button (click)="createGrupoCaracteristica()" type="button" class="btn btn-success">Salvar</button>  
      <!-- botão cancelar a operação de salvar e voltar para lista -->
      <button type="button" style="margin-left: 5px" (click)="listarGrupoCaracteristica()" class="btn btn-outline-danger">
        Cancelar
      </button>
    </form>
  </div>
</body>
