<div class="wrapper">
  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img
      class="animation__shake"
      src="../assets/img/AdminLTELogo.png"
      alt="Logo do site"
      height="60"
      width="60"
    />
  </div>

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-dark navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"
          ><i class="fas fa-bars"></i
        ></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/anuncios" class="nav-link">Sair</a>
      </li>
    </ul>
   
  </nav>
  <!-- /.navbar -->
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/home" class="brand-link">
      <img
        src="./assets/img/AdminLTELogo.png"
        alt="Logo do site"
        class="brand-image img-circle elevation-3"
        style="opacity: 0.8"
      />
      <span class="brand-text font-weight-light">GRALL Imóveis</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img
            src="./assets/img/user2-160x160.jpg"
            class="img-circle elevation-2"
            alt="User Image"
          />
        </div>
        <div class="info">
          <a href="#" class="d-block">Usuario</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <!--  -->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Administrativo / Manut.
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              

              <li class="nav-item">
                <a routerLink="/all-anuncio" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Anúncios</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/all-caracteristica" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Característica</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/anuncios" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Home</p>
                </a>
              </li>

             
              <li class="nav-item">
                <a routerLink="/all-grupo-caracteristica" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Grupos de Característica</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/create-anuncio" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Novo Anúncio</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/all-tipo-empreendimento" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Tipo de Empreendimento</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/all-tipo-imovel" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Tipo de imóvel</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/all-usuario" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Usuário</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <body>
    <div class="jumbotron" style="background-color: lightgrey;">
      <h3>Aplicação Web</h3>
      <p class="lead">Sistema de Anúncios de Imóveis</p>
    </div>
  </body>

  <footer class="main-footer">
    <!-- <strong>Copyright &copy; 2014-2021 -->
    <strong><a href="https://senaigo.com.br"> Senai-Fatesg </a>.</strong>
    ADS-5 - Tecnologia em Análise e Desenvolvimento de Sistemas
    <div class="float-right d-none d-sm-inline-block"><b>Version</b> 1.0.0</div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
