<!-- navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-gradient-primary">
    <div class="container">
      <a class="navbar-brand h1 mb-0" href="#">GRAL Imóveis</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSite"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSite">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/all-anuncio">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Anunciar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cadastro">Cadastre-se</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/all-anuncio">Contato</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              data-toggle="dropdown"
              id="navdrop"
            >
              Social
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="https://www.facebook.com">Facebook</a>
              <a class="dropdown-item" href="https://www.twitter.com">Twitter</a>
              <a class="dropdown-item" href="https://www.instagram.com">Instagram</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- navbar - end  -->

<div class="caixa-mensagem">
  <div class="row">
    <div class="col-sm-6 col-md-4"></div>
      <div class="card border-white">
        <div class="card-body">
          <h3 class="card-title text-success">Cadastro efetuado com sucesso!</h3>
          <p class="card-text text-primary">
            Crie seu primeiro anúncio.
          </p>

          <button type="button" class="btn btn-primary btn-block" (click)="redirecionarLogin()">Criar anúncio</button>
          
      </div>
    </div>
  </div>
</div>