<!-- navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-gradient-dark">
  <div class="container">
    <a class="navbar-brand h1 mb-0">GRAL Imóveis</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSite"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSite">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Voltar ao dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/anuncios">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- navbar - end  -->

<body style="margin-top: 70px">
  <!-- Tab e barra de pesquisa -->
  <div class="container">
    <h3 class="display-6 text-muted">Lista de Anúncios</h3>
    <form
      class="d-flex"
      style="margin-left: 15px; margin-bottom: 15px; text-align: center"
    >
      <input
        class="form-control"
        type="text"
        placeholder="Procurar..."
        aria-label="Search"
      />
      <button
        class="btn btn-outline-primary"
        style="margin-left: 5px"
        type="button"
      >
        Buscar
      </button>
    </form>
  </div>

  <!-- Listagem dos anúncios cadastrados no sistema -->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4" *ngFor="let item of listaAnuncio">
        <div class="card border-red" style="width: 350px">
          <a routerLink="/anuncio-update/{{ item.id }}" class="link-img">
            <img
              class="card-img-top img-thumbnail"
              src="{{ item.imagem[0].imagem }}"
              alt="imovel"
            />
          </a>
          <h5 class="card-title">{{ item.tipoImovel.nome | titlecase }}</h5>
          <p class="card-text">
            {{ item.endereco.bairro | titlecase }},
            {{ item.endereco.localidade | titlecase }} -
            {{ item.endereco.uf | uppercase }}
          </p>
          <h5 class="card-text">
            {{ item.dadosComplementares.valor | currency: "BRL" }}
          </h5>
          <p class="card-text text-muted">
            {{ item.dadosComplementares.metrosQuadrados }}
            <small>m² |</small>
            {{ item.dadosComplementares.qtdQuartos }}
            <small>Quartos |</small>
            {{ item.dadosComplementares.qtdSuites }}
            <small>Suites |</small>
            {{ item.dadosComplementares.qtdVagas }}
            <small>Vagas</small><br />
            <small>Visualizações: {{ item.qtdDeVisualizacoes }}</small>
          </p>
          <p class="data-cadastro text-muted">
            <small>Data do cadastro:</small>
            {{ item.dataCadastro | date: "dd/MM/yyyy." }}
          </p>
          <a routerLink="/anuncio-update/{{ item.id }}">
            <i class="fas fa-edit text-center"> Editar</i>
          </a>
          <br />
        </div>
      </div>
    </div>
  </div>
</body>
