<!-- navbar -->
<nav class="navbar fixed-top navbar-expand-lg bg-gradient-primary">
  <div class="container">
    <a class="navbar-brand h1 mb-0" href="/anuncios">GRAL Imóveis</a>

    <div class="collapse navbar-collapse" id="navbarSite">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/anuncios">Voltar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- navbar - end  -->
<div>
  <div class="ml-1">
    <!-- Modal para apresentar a imagem selecionada da lista abaixo -->

    <div class="modal fade" id="siteModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ anuncio.descricao }}</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid text-center">
              <img
                [src]="anuncio.imagem"
                class="img-responsive"
                style="
                  max-width: 100%;
                  width: 450px;
                  height: 450px;
                  object-fit: cover;
                "
                alt="imagem de um anúncio"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">
              Fechar
            </button>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <!-- lista de imagens do imovel vindas do banco -->
    <div class="row justify-content-center mt-5" style="background-color:lightgrey">
      <div class="col-md-1" *ngFor="let item of anuncio.imagem">
        <a
          href="#"
          class="abrirModal"
          data-toggle="modal"
          data-target="#siteModal"
        >
          <!-- A imagem abaixo se torna um link para chamar a modal quando selecionada -->
          <img
            (click)="showImageWithModal(item.imagem)"
            class="img-responsive"
            width="100"
            height="100"
            id="card-imagem"
            [src]="item.imagem"
            alt="Ops! ocorreu um erro ao exibir esta imagem"
          />
        </a>
      </div>
    </div>

    <hr />

    <!-- display - Detalhes do Imóvel -->
    <h3 class="display-6 text-muted" style="text-align: center">
      Detalhes do Imóvel
    </h3>
    <hr />

    <!-- display com o tipo do imovel e valor -->
    <div class="form-row">
      <div class="form-group col-sm-12" style="text-align: center">
        <label class="text-muted" for="valor">Valor</label>
        <h3 style="color: red">
          {{ anuncio.dadosComplementares.valor | currency: "BRL" }}
        </h3>
        <button (click)="contato()" type="button" class="btn btn-primary w-50">
          Contato
        </button>
        <hr />
      </div>
    </div>

    <!-- descricao do imóvel -->
    <div class="form-row">
      <div class="form-group col-sm-12">
        <label class="text-muted" for="descricao">Descrição do imóvel</label>
        <textarea
          readonly="true"
          class="text-muted descricao"
          id="descricao"
          name="descricao"
          rows="3"
          style="width: 100%"
          >{{ anuncio.descricao }}</textarea
        >
      </div>

      <hr width="100%" />

      <!-- endereço bairro -->
      <div class="form-group col-sm-6">
        <label class="text-muted" for="bairro">Bairro ou Setor</label>
        <textarea
          readonly="true"
          id="bairro"
          name="bairro"
          rows="1"
          style="width: 100%"
          >{{ anuncio.endereco.bairro }}</textarea
        >
      </div>

      <!-- endereço localidade -->
      <div class="form-group col-sm-4">
        <label class="text-muted" for="localidade">Localidade</label>
        <textarea
          readonly="true"
          id="localidade"
          name="localidade"
          rows="1"
          style="width: 100%"
          >{{ anuncio.endereco.localidade }}</textarea
        >
      </div>

      <!-- endereço UF -->
      <div class="form-group col-sm-2">
        <label class="text-muted" for="UF">UF</label>
        <textarea
          readonly="true"
          id="estado"
          name="estado"
          rows="1"
          style="width: 100%"
          >{{ anuncio.endereco.uf }}</textarea
        >
      </div>

      <hr width="100%" />

      <!-- dados complementares - metros quadrados -->
      <div class="form-group col-sm-2">
        <label class="text-muted" for="metragem">M²</label>
        <textarea
          readonly="true"
          id="metragem"
          name="metragem"
          rows="1"
          style="width: 100%"
          >{{ anuncio.dadosComplementares.metrosQuadrados }}</textarea
        >
      </div>

      <!-- dados complementares - quant. de quartos -->
      <div class="form-group col-sm-2">
        <label class="text-muted" for="quartos">Quartos</label>
        <textarea
          readonly="true"
          id="quartos"
          name="quartos"
          rows="1"
          style="width: 100%"
          >{{ anuncio.dadosComplementares.qtdQuartos }}</textarea
        >
      </div>

      <!-- dados complementares - quant. de suites -->
      <div class="form-group col-sm-2">
        <label class="text-muted" for="suites">Suítes</label>
        <textarea
          readonly="true"
          id="suites"
          name="suites"
          rows="1"
          style="width: 100%"
          >{{ anuncio.dadosComplementares.qtdSuites }}</textarea
        >
      </div>

      <!-- dados complementares - quant. de banheiros -->
      <div class="form-group col-sm-2">
        <label class="text-muted" for="banheiros">Banheiros</label>
        <textarea
          readonly="true"
          id="banheiros"
          name="banheiros"
          rows="1"
          style="width: 100%"
          >{{ anuncio.dadosComplementares.qtdBanheiros }}</textarea
        >
      </div>

      <!-- dados complementares - quant. de vagas -->
      <div class="form-group col-sm-2">
        <label class="text-muted" for="vagas">Vagas</label>
        <textarea
          readonly="true"
          id="vagas"
          name="vagas"
          rows="1"
          style="width: 100%"
          >{{ anuncio.dadosComplementares.qtdVagas }}</textarea
        >
      </div>

      <!-- quant de visualizações -->
      <div class="form-group col-sm-2">
        <label class="text-muted" for="visualizações">Visualizações</label>
        <textarea
          readonly="true"
          id="visualizações"
          name="visualizações"
          rows="1"
          style="width: 100%"
          >{{ anuncio.qtdDeVisualizacoes }}</textarea
        >
      </div>

      <hr width="100%" />

      <!-- display e as caracteristicas do imóvel em checkbox -->
      <h3 class="display-6 text-muted" style="text-align: center; width: 100%">
        Características do imóvel:
      </h3>

      <!-- ngIf verificando se a lista tem conteúdo -->
      <div *ngIf="temLista()" class="form-group row">
        <div
          *ngFor="let item of anuncio.caracteristicas"
          class="form-group col-sm-3"
        >
          <label for="caracteristicas"></label>
          <textarea
            readonly="true"
            id="caracteristicas"
            name="caracteristicas"
            rows="1"
            style="width: 100%"
            >{{ item.nome | titlecase }}</textarea
          >
        </div>
      </div>
      <!-- fim da exibição das cacacterísticas -->

      <!-- ngIf verificando se a lista está vazia -->
      <div *ngIf="!temLista()" style="text-align: center; width: 100%">
        <h5 class="display-6" style="color: red">
          Este imóvel não contém características adicionadas.
        </h5>
      </div>

      <hr width="100%" />

      <!-- data de cadastro do anúncio -->
      <div class="form-group col-sm-12">
        <label class="text-muted" for="dataCadastro">Publicado em:</label>
        <textarea
          class="text-muted"
          readonly="true"
          id="dataCadastro"
          name="dataCadastro"
          rows="1"
          style="width: 100%; text-align: center"
          >{{ anuncio.dataCadastro | date: "dd/MM/yyyy" }}</textarea
        >
      </div>
    </div>
    <hr />
    <!-- Entre em contato  -->
    <div class="jumbotron bg-gradient" style="text-align: center; background-color: lightgrey;">
      <h3>GRAL Anúncio de Imóveis</h3>
      <p class="sub-title" style="font-size: 20px;">
        Se interessou neste imóvel ?
        <button (click)="contato()" class="btn btn-success" style="font-size: 22px;">
          Click aqui e fale direto com o proprietário
        </button>
      </p>
    </div>
    <div class="container">
      <!-- rodapé init -->
      <div class="row">
        <div class="col-12 mb-3"><hr /></div>

        <div class="col-sm-4">
          <h3>Gral Imóveis</h3>
          <p style="text-align: justify">
            Lorem ipsum consequat eget cursus posuere sollicitudin lectus nam,
            curabitur consectetur cubilia leo ante eget luctus duis, feugiat
            enim orci adipiscing non augue
          </p>
          <p style="text-align: justify">
            Lorem ipsum consequat eget cursus posuere sollicitudin lectus nam,
            curabitur consectetur cubilia leo ante eget luctus duis, feugiat
            enim orci adipiscing non augue
          </p>
        </div>

        <div class="col-sm-4">
          <h3>Menu</h3>
          <div class="list-group text-center">
            <a
              href="/anuncios"
              class="
                list-group-item list-group-item-action list-group-item-primary
              "
              >Home</a
            >
            <a
              href="/login"
              class="
                list-group-item list-group-item-action list-group-item-primary
              "
              >Anunciar</a
            >
            <a
              href="/cadastro"
              class="
                list-group-item list-group-item-action list-group-item-primary
              "
              >Cadastre-se</a
            >
            <!-- <a href="contato" class="list-group-item list-group-item-action list-group-item-primary">Contato</a> -->
            <!-- <a href="/anuncios" class="list-group-item list-group-item-action list-group-item-primary">Anúncios</a> -->
          </div>
        </div>

        <div class="col-sm-4">
          <h3>Social</h3>

          <div class="btn-group-vertical btn-block btn-group-lg" role="group">
            <a class="btn btn-outline-primary" href="https://www.facebook.com"
              ><i class="fab fa-facebook-square"></i>Facebook</a
            >
            <a class="btn btn-outline-info" href="https://www.twitter.com"
              ><i class="fab fa-twitter-square"></i>Twiter</a
            >
            <a class="btn btn-outline-warning" href="https://www.instagram.com"
              ><i class="fab fa-instagram-square"></i>Instagram</a
            >
          </div>
        </div>

        <div class="col-12 mt-5">
          <hr />
          <blockquote class="blockquote text-center">
            <p class="mb-0">
              O Sucesso não é garantido, mas o fracasso é certo se você não
              estiver emocionalmente envolvido em seu trabalho.
            </p>
            <footer class="blockquote-footer">
              Biz Stone <cite title="Source Title">Fundador do Twitter</cite>
            </footer>
          </blockquote>
        </div>

        <!-- rodapé end -->
      </div>
    </div>
  </div>
  <!-- Atenção!!! A div acima é o fim da div do container -->
</div>
