/*  geral */
 * {

    /* box-sizing: border-box; */
    font-family: helvetica;    
    color: #fff;
    border: none;
  }
  
  textarea:focus, input:focus {
    outline: none;
  }
  
  a,
  label {
    font-size: 0.8rem;
  }

  a {
      font-size: 0.9rem;
  }
  
  a:hover {
    color: #08558b;
  }
  
  
  #login {
    height: 1200px;
    background-image: url("C:\ambienteDeEstudoAds4\projetos_ads\anuncio-web\src\assets\img\casa.jpg");
    background-position: center;
    background-size: cover;
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;    
  }

  /* container do login */

  #login-container {
    background-color: rgba(37, 37, 37, 0.712);
    width: 400px;    
    margin-right: auto;    
    margin-left: auto;
    padding: 10px 30px;
    margin-top: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
  }
  
  /* formulário */
  
  #email{
    color: black;
  }

  #senha{
    color: black;
  }
  
  label,
  input {
    /* display: block; */
    width: 100%;
    text-align: left;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    border-bottom: 2px solid#323232;
    padding: 10px;
    font-size: 1rem;
    /* margin-bottom: 20px; */
  }
  
  input:focus {
      border-bottom: 2px solid#08558b;    
  }
  
  #forgot-pass {
      text-align: right;
      display: block;
  }
  
  /* input[type="submit"] {
  text-align: center;       
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  height: 40px;
  border-radius: 20px;
  margin-top: 30px;

  background-color: #08558b;
  cursor: pointer;
  } */
  
  input[type="submit"]:hover {
      background-color: #1b223c;
      transition: .5s;
  }
  
  /* redes sociais */
  
  #social-container, #social-container p {
      margin-bottom: 20px;
  }
  
  #social-container i {
      height: 40px;
      width: 40px;    
      border-radius: 50%;
      line-height: 40px;
      color: #fff;
      margin: 0 5px;
      cursor: pointer;
  }
  
  .fa-facebook-f {
      background-color: #3b5998;
  }
  
  .fa-linkedin {
      background-color: #0077b5;
  }
   /* registrar */
  
   #register-container p {
       margin-bottom: 10px;
   }