<div id="login">
  <!-- navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-gradient-primary">
    <div class="container">
      <a class="navbar-brand h1 mb-0" href="/anuncios">GRAL Imóveis</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSite"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSite">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/anuncios">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Anunciar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cadastro">Cadastre-se</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/anuncios">Sair</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav> 
  <!-- navbar - end  -->


  <div id="login-container">

    <h1>Login</h1>

    <form class="form mt-4" [formGroup]="loginForm" (submit)="login()">
     
      <div class="form-group">
        <input
          type="text"
          name="email"
          id="email"
          placeholder="Digite seu e-mail"
          autocomplete="off"
          autofocus
          formControlName="email"
        />
            
        <app-vmessage
          *ngIf="email.errors?.required && (email.dirty || email.touched)"
          text='Email obrigatório!'>
        </app-vmessage>
      </div>

      <div class="form-group">

        <input
          type="password"
          name="senha"
          id="senha"
          placeholder="Digite a sua senha"
          formControlName="senha"
        />
      
        <app-vmessage
              *ngIf="senha.errors?.required && (senha.dirty || senha.touched)"
              text='Senha é obrigatória'>
        </app-vmessage>    
        <a href="#" id="forgot-pass">Esqueceu a senha?</a>
  
      </div>
      
      <!-- <input type="submit" value="Login" [disabled]="loginForm.invalid" /> -->
      <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid" > 
        Login
      </button>
    
    </form>

    <div id="social-container">
      <!-- <p>Ou entre pelas suas redes sociais</p>
        <i class="fa fa-facebook-f"></i>
        <i class="fa fa-linkedin"></i>
      </div>
      <div id="register-container"> -->
      <p>
        Ainda não tem uma conta? <br />
        <a href="/cadastro">Registrar</a>
      </p>
      
    </div>
  </div>

</div>
