<!-- navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-gradient-primary">
  <div class="container">
    <a class="navbar-brand h1 mb-0" href="/anuncios">GRAL Imóveis</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSite"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSite">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/anuncios">Sair</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
<!-- navbar - end  -->

<br />
<br />
<br />

<div class="container">
  <h3 class="display-6 text-muted">Preencha o formulário de cadastro</h3>
  <hr />

  <form class="form mt-4" [formGroup]="cadastroForm" (submit)="cadastrar()">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input
        class="form-control"
        type="text"
        id="nome"
        placeholder="Informe o nome completo"
        formControlName="nome"
        required
      />
      <div class="mensagem">
        <app-vmessage
          *ngIf="nome.errors?.required && (nome.dirty || nome.touched)"
          text="Nome é obrigatório!"
        >
        </app-vmessage>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        class="form-control"
        type="email"
        id="email"
        placeholder="Informe seu e-mail (Não será compartilhado)"
        formControlName="email"
      />

      <div class="mensagem">
        <app-vmessage
          *ngIf="email.errors?.required && (email.dirty || email.touched)"
          text="Email obrigatório!"
        >
        </app-vmessage>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Senha</label>
      <input
        class="form-control"
        type="password"
        id="senha"
        placeholder="Informe uma senha com 6 dígitos"
        formControlName="senha"
      />

      <div class="mensagem">
        <app-vmessage
          *ngIf="senha.errors?.required && (senha.dirty || senha.touched)"
          text="Senha é obrigatória!"
        >
        </app-vmessage>
        <app-vmessage
          *ngIf="senha.errors?.minlength"
          text="Deve ter no mínimo 6 caracteres"
        >
        </app-vmessage>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Confirme a senha</label>
      <input
        class="form-control"
        type="password"
        id="confirmaSenha"
        placeholder="Confirme a senha com 6 dígitos"
        formControlName="confirmaSenha"
      />

      <div class="mensagem">
        <app-vmessage
          *ngIf="
            confirmaSenha.errors?.required &&
            (confirmaSenha.dirty || confirmaSenha.touched)
          "
          text="Confirmar Senha é obrigatória!"
        >
        </app-vmessage>

        <app-vmessage
          *ngIf="confirmaSenha.errors?.minlength"
          text="Deve ter no mínimo 6 caracteres"
        >
        </app-vmessage>
      </div>
    </div>
    <div class="form-group">
      <label for="telefone">Celular</label>
      <input
        class="form-control"
        type="text"
        id="celular"
        placeholder="Informe seu celular"
        formControlName="celular"
      />

      <div class="mensagem">
        <app-vmessage
          *ngIf="celular.errors?.required && (celular.dirty || celular.touched)"
          text="Celular é obrigatório!"
        >
        </app-vmessage>
      </div>
    </div>

    <div class="form-group">
      <div class="form-group">
        <br />
        <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="cadastroForm.invalid"
        >
          Cadastrar
        </button>
      </div>
    </div>
  </form>
</div>
