<!-- navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-gradient-dark">
  <div class="container">
    <a class="navbar-brand h1 mb-0">GRAL Imóveis</a>

    <div class="collapse navbar-collapse" id="navbarSite">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          <a class="nav-link" href="/home">Voltar ao dashboard</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/anuncios">Sair</a>
        </li>        
      </ul>
    </div>
    <div>
      <button
        type="button"
        style="margin-top: 20px"
        (click)="listaDeAnunciosAdmin()"
        class="btn btn-outline-success"
      >
        Listar Anúncios
      </button>
    </div>
  </div>
</nav>
<!-- navbar - end  -->

<body style="margin-top: 70px">
  <!-- tabs -->
  <div class="container">
    <h3 class="display-6 text-muted">Cadastro de Anúncios</h3>
    
    <hr />
    <span id="conteudo"></span>

    <!-- Formulário para cadastrar um anúncio -->

    <div class="container">
     <div class="row justify-content-center mb-5">
       <div class="col-sm-12 col-md-10 col-lg-8">

            <form >

              <div class="form-row">
                
                <div class="form-group col-sm-4">
                <!-- data inserida automática -->
                  <div class="form-group">              
                    <label for="date-input">Data do Cadastro</label>
                    <input [(ngModel)]="anuncio.dataCadastro" class="form-control" [formControl]="anunciodtdecadastro" type="datetime" 
                    id="inputData" readonly = true>
                  </div>
                <!-- selecionando a categoria do imóvel -->
                  <label for="inputCategoria">Selecione a categoria do imóvel</label>
                  <select id="inputCategoria" name="inputCategoria" [(ngModel)]="anuncio.categoria" class="form-control"
                    [formControl]="anunciocategoria" [value]= anuncio.categoria>
                    <option selected>Selecione...</option>
                    <option>Comercial</option>
                    <option>Residencial</option>
                  </select>
                </div>
              </div>

              <!-- Informando uma descrição do imóvel -->
              <div class="form-group">
               <label for="descricao">Digite uma descrição do imóvel</label>
                <textarea id="descricao" name="descricao" [(ngModel)]="anuncio.descricao" class="form-control" [formControl]="anunciodescricao"
                 [value]="anuncio.descricao" rows="3"></textarea>
              </div>

              <!-- Conferindo e selecionando o dono do imóvel -->
              <div class="form row">
                <div class="form-group col-sm-6">
                <label for="inputUsuario">Selecione o usuário</label>
                <select id="inputUsuario" name="inputUsuario" [(ngModel)]="usuario.id" class="form-control">
                  <option selected>Selecione...</option>
                  <option *ngFor="let item of listaUsuario" [value]="item.id">{{ item.nome | titlecase }}</option>
                 
                </select>
                </div>
              </div>

              <!-- Selecionando o tipo do imóvel -->
              <div class="form row">
                <div class="form-group col-sm-6">
                <label for="inputTipoImovel">Selecione o tipo do imóvel</label>
                <select class="form-control" [(ngModel)]="tipoImovel.id" [formControl]="tipoimovelnome">
                  <option selected>Selecione...</option>
                  <option *ngFor="let item of listaTipoImovel" [value]="item.id">{{ item.nome | titlecase }}</option>
                </select>
                </div>
              </div>
              <!-- Selecionando o tipo de empreendimento -->
              <div class="form row">
                <div class="form-group col-sm-6">
                <label for="inputTipoEmpreendimento">Selecione o tipo de empreendimento</label>
                <select class="form-control" [(ngModel)]="tipoEmpreendimento.id" [formControl] = "tipoempreendimentonome">
                  <option selected>Selecione...</option>
                  <option *ngFor="let item of listaTipoEmpreendimento" [value] = "item.id">{{ item.nome | titlecase }}</option>
                </select>
                </div>
              </div>   
              
              <!-- Endereço do imóvel -->

              <h3 class="display-6 text-muted" style="margin-top: 20px;">Endereço do Imóvel</h3><hr>

              <div class="form-row">
                <!-- informar o cep -->
                <div class="form-group col-sm-3">
                  <label for="inputCep">Informe seu Cep</label>
                  <input [(ngModel)]="endereco.cep" name="cep" class="form-control" [formControl]= "enderecocep" type="text" id="inputCep" >
                </div> 
                <!-- botão busca cep  -->
                <div class="form-group col-sm-4">
                  <button type="button" (click)="getEnderecoPeloCep(endereco.cep)" class="btn btn-primary">Busca Cep</button>
                </div>
              </div>

              <!-- logradouro -->
              <div class="form-row">
                <div class="form-group col-sm-10">
                  <label for="inputLogradouro">Logradouro</label>
                  <input [(ngModel)]="endereco.logradouro" name="logradouro" class="form-control" [formControl]= "enderecologradouro" type="text" id="inputLogradouro">
                </div>
                <!-- número -->
                <div class="form-group col-sm-2">
                  <label for="inputNumero">Número</label>
                  <input [(ngModel)]="endereco.numero" name="numero" type="text" id="inputNumero" class="form-control" placeholder="Número">
                </div>
              </div>
              <!-- bairro -->
              <div class="form-row">
                <div class="form-group col-sm-6">
                  <label for="inputBairro">Bairro ou Setor</label>
                  <input [(ngModel)]="endereco.bairro" name="bairro" class="form-control" [formControl]='enderecobairro' type="text" id="inputBairro"
                   placeholder="Bairro">
                </div>
                <!-- complemento -->
                <div class="form-group col-sm-6">
                  <label for="inputComplemento">Complemento</label>
                  <input [(ngModel)]="endereco.complemento" name="complemento" class="form-control" [formControl]="enderecocomplemento" type="text" id="inputComplemento" 
                  placeholder="Complemento...">
                </div>
              </div>
             <!-- cidade -->
            <div class="form-row">
                <div class="form-group col-sm-6">
                  <label for="inputCidade">Cidade</label>
                  <input [(ngModel)]="endereco.localidade" name="cidade" class="form-control" [formControl]="enderecolocalidade" type="text" id="inputCidade" 
                  placeholder="Cidade">
                </div>
                <!-- Estado -->
                <div class="form-group col-sm-4">
                  <label for="inputEstado">Estado</label>
                  <select [(ngModel)]="endereco.uf" name="uf" class="form-control" [formControl]="enderecouf" id="inputEstado">
                    <option selected>Selecione...</option>
                    <option *ngFor="let item of estados">{{ item.value }}</option>
                  </select>
                </div>                
            </div>
             

            <!-- dados complementares -->
            <h3 class="display-6 text-muted" style="margin-top: 20px;">Dados complementares</h3><hr>
            <!-- valor do imóvel -->
            <div class="form-row">
              <div class="form-group col-sm-4">
                <label for="inputValor">Valor do imóvel</label>
                <input [(ngModel)]="dadosComplementares.valor" class="form-control" [formControl]="dadosvalor" type="number" id="inputValor"
                 placeholder="Valor do imóvel">
              </div>
            </div>
            <!-- nome do empreendimento -->
            <div class="form-row">
              <div class="form-group col-sm-12">
                <label for="inputNomeEmpreendimento">Nome do empreendimento</label>
                <input [(ngModel)]="dadosComplementares.nomeEmpreendimento" class="form-control" [formControl]="dadosnomeempreendimento" type="text" id="inputNomeEmpreendimento" 
                placeholder="Nome do empreendimento">
              </div>
            </div>
            <!-- metros quadrados -->
            <div class="form-row">
              <div class="form-group col-sm-2 mr-4">
                <label for="inputMetrosQuadrados">M²</label>
                <input [(ngModel)]="dadosComplementares.metrosQuadrados" class="form-control" [formControl]="dadosmetrosquadrados" id="inputMetrosQuadrados"
                placeholder="m²">
            
              </div>
              <!-- quant de banheiros -->
              <div class="form-group col-sm-2 mr-4">
                <label for="inputQuantBanheiros">Qtd.Banheiros</label>
                <select [(ngModel)]="dadosComplementares.qtdBanheiros" id="inputQuantBanheiros" class="form-control" [formControl]="dadosqtdbanheiros">
                  <option selected>Selecione...</option>
                  <option *ngFor="let item of contador">{{ item.value }}</option>
                </select>
              </div>
              <!-- quant de quartos -->
              <div class="form-group col-sm-2 mr-4">
                <label for="inputQuantQuartos">Qtd.Quartos</label>
                <select [(ngModel)]="dadosComplementares.qtdQuartos" id="inputQuantQuartos" class="form-control" [formControl]="dadosqtdquartos">
                  <option selected>Selecione...</option>
                  <option *ngFor="let item of contador">{{ item.value }}</option>
                </select>
              </div>
              <!-- quant de suites -->
              <div class="form-group col-sm-2 mr-4">
                <label for="inputQuantSuites">Qtd.Suites</label>
                <select [(ngModel)]="dadosComplementares.qtdSuites" id="inputQuantSuites" class="form-control" [formControl]="dadosqtdsuites">
                  <option selected>Selecione...</option>
                  <option *ngFor="let item of contador">{{ item.value }}</option>
                </select>
              </div>
              <!-- quant de vagas -->
              <div class="form-group col-sm-2">
                <label for="inputQuantVagas">Qtd. Vagas</label>
                <select [(ngModel)]="dadosComplementares.qtdVagas" id="inputQuantVagas" class="form-control" [formControl]="dadosqtdvagas">
                  <option selected>Selecione...</option>
                  <option *ngFor="let item of contador">{{ item.value }}</option>
                </select>
              </div>
            </div>

            <!-- caracteristicas do imóvel em checkbox -->
            <h3 class="display-6 text-muted" style="margin-top: 20px;">Características do imóvel</h3><hr>

              <div class="row">
                <div *ngFor="let item of listaCaracteristica" class="col-md-4">
                    <div  class="form-check">
                      <input class="form-check-input" type="checkbox" (change)="onChangeListaCaracteristica(item, $event)">
                        <label class="form-check-label" for="checkbox">
                          {{ item.caract.nome | titlecase }}
                        </label>
                    </div>
                  </div>
              </div>
              <hr>            
              <!-- título da inclusão da imagem -->
                <h3 class="display-6 text-muted" style="margin-top: 20px;">Incluir fotos no anúncio</h3><hr>

              <!-- input da imagem -->
              <input type="file" (change)="imagemListener($event)"/>
              <div class="form-row mt-2">
              <div *ngFor="let img of anuncio.imagem" >
                <img [src]="img.imagem" alt="Image Preview" style="margin: 2px 5px 2px; width: 150px; height: 150px;"/>
              </div>
            </div>
              <hr>
                <div class="form-row">
                  <div class="col-sm-12">
                  <button (click)="createAnuncio()" type="submit" class="btn btn-primary">Salvar</button>
                  <a href="/home">
                    <button type="button" class="btn btn-outline-danger ml-2" >Cancelar</button>
                  </a>
                  </div>
                </div>
          </form>
        </div>
     </div>
    </div>
    
    <script>
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
    </script>

    <div>
      <button
        type="button"
        style="margin-top: 20px"
        (click)="listaDeAnunciosAdmin()"
        class="btn btn-outline-success"
      >
        Listar Anúncios
      </button>
    </div>
  </div>
</body>
<hr>


