body {
    margin: 10px;
}

.an-required > .control-label:after{
    content: "*";
}

.image-preview {
    width: 300px;
    min-height: 100px;
    border: 2px solid#dddddd;
    margin-top: 15px;

    /* Default text */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
}

.image-preview__image {
    display: none;
    width: 100%;
}