<!-- navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-gradient-dark">
    <div class="container">
      <a class="navbar-brand h1 mb-0" href="/home">GRAL Imóveis</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSite"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSite">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/anuncios">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- navbar - end  -->
  
  <body style="margin-top: 70px">
    <!-- tabs -->
    <div class="container">
      <h3 class="display-6">
       <input type="text" class="p-3 mb-2 bg-warning" placeholder="Realmente deseja deletar o anúncio de código:  {{ anuncio.id }} ?"
        style="width: 100%; text-align: center;"> 
      </h3>
      <hr/>

      <!-- o anuncio a deletar -->      

      <div class="form-row">
        <div class="form-group col-sm-12"style="text-align: center;">
          <img class="img-responsive" width="500" height="300" id="card-imagem" style="text-align: centers;" 
          [src]="anuncio.imagem[0].imagem" alt="Ops! ocorreu um erro ao exibir esta imagem"/> 
          <hr><button type="button" style="width: 200px;" class="btn btn-danger" (click)="deletarAnuncio()">Deletar</button>      
              <button type="button" style="width: 200px;" class="btn btn-outline-danger ml-2" (click)="listaDeAnunciosAdmin()">Cancelar</button>        
        </div>               
    </div>

         
          <!-- lista de imagens do imovel vindas do banco -->


        

  </div>